.invitaciones{
  color:white;
  border-style:solid;
  border-width: groove;
  padding: 5px 5px 5px 5px;
  border-color:#000000;
  background-color: #26078c;
  border-radius: 10px;
}

#Link_lugar{
  color:white;
}

body{
  background-color: grey;
}

.invitacion{
  color:white;
  border-style:solid;
  border-width: groove;
  padding: 5px 5px 5px 5px;
  border-color:#000000;
  background-color: #0bdbc3;
  border-radius: 10px;
}
