.infoUsuario{
  color:white;
  border-style:solid;
  padding: 5px 5px 5px 5px;
  border-color:#000000;
  background-color: #26078c;
  border-radius: 10px;
}

#Link_lugar{
  color:white;
}

body{
  background-color: grey;
}

.posts{
  color:white;
  border-style:solid;
  border-width: groove;
  padding: 5px 5px 5px 5px;
  border-color:#000000;
  background-color: #0bdbc3;
  border-radius: 10px;
}

.postsAdmin{
  float:left;
  color:white;
  border-style:solid;
  border-width: groove;
  padding: 5px 5px 5px 5px;
  border-color:#000000;
  background-color: #0bdbc3;
  border-radius: 10px;
  width:60%;
}

.post{
  color:white;
  border-style:solid;
  border-width: groove;
  padding: 5px 5px 5px 5px;
  border-color:#000000;
  background-color: #0e3e9e;
  border-radius: 15px;
}

.historial{
  float: right;
  width:38%;
  color:white;
  border-style:solid;
  border-width: groove;
  padding: 5px 5px 5px 5px;
  border-color:#000000;
  background-color: #0bdbc3;
  border-radius: 10px;
}

.historia{
  color:white;
  border-style:solid;
  border-width: groove;
  padding: 5px 5px 5px 5px;
  border-color:#000000;
  background-color: #0e3e9e;
  border-radius: 15px;
}

.userInfo{
  width:40%;
  float:left;
}

.modificacionUsuario{
  width:40%;
  float:right;
}
