body{
  overflow: auto;
  font-family: helvetica, arial;
}

.logOut{
  margin-top: 50px;
}

#Link_lugar{
  color:#FFFFFF;
}

#Link_contacto:link{
  color:#FFFFFF;
}

#Link_contacto:visited{
  color: #FFFFFF;
}

#Link_perfil:link{
  color: #FFFFFF;
}

#Link_perfil:visited{
  color: #FFFFFF;

}

#Link_usuario{
  color: #FFFFFF;
}


table{
  width:100%;

}

.menu{
  position:fixed;
  top:0;
  width:100%;
  border-style:solid;
  background-color: #1303ff;
  font-size: 50px;
}

.textoMenu{
  color: #FFFFFF;
}

.feed{
  float: left;
  border-style:solid;
  width:72%;
  overflow:hidden;
  padding: 10px 10px 10px 10px;
  background-color: #1303ff;
}

.post{
  border-style:solid;
  padding: 5px 5px 5px 5px;

}

h3{
  color:#FFFFFF;
}
p{
  color:#FFFFFF;
}
.contactos{
  float:right;
  border-style:solid;
  width:25%;
  padding: 5px 5px 5px 5px;
  background-color: #1303ff;
}

h2{
  text-align: center;
  color:#Ffffff;
}



#contenido{
  margin-top: 50px;
}
