<html>
	<head>
		<title>
			{TITULO}
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/jscript" src="./js/ajaxProyecto.js"></script>
		<script src="./js/jquery.star-rating-svg.js"></script>
		<link rel="stylesheet" type="text/css" href="./estilos/star-rating-svg.css">
		<script  async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpBEH91zcYu25xwVTcs0qDsWrEKeoyx3U&callback=initMap"></script>
		<link rel="shortcut icon" href="./estilos/favicon.ico" type="image/x-icon">
		<link rel="icon" href="./estilos/favicon.ico" type="image/x-icon">
	</head>
	<body>
		{CONTENIDO}
	</body>
</html>
