<head>
  <link rel="stylesheet" href="./estilos/login.css">
</head>
<body>
  <form name="formulario" action="verifica.php" method="post" id="registro">
    <table class="log">
      <tr>
        <th>
          Usuario:
        </th>
        <th colspan="2">
          <input type="text" name="usuario">
        </th>
      </tr>
      <tr>
        <th>
            Contraseña:
        </th>
        <th colspan="2">
          <input type="password" name="passwrd">
        </th>
      </tr>
      <tr>
        <th>
        </th>
        <th>
          <input type="submit" name="entrar" value="Entrar">
        </th>
        <th>
            <a href="./registro.php">
              Regitrarse
            </a>
        </th>
      </tr>
    </table>
  </form>
</body>
