<header>
  <link rel="stylesheet" href="./estilos/lugar.css" text="text/css">
  <script src="./js/estrellas.js"></script>
  <link rel="stylesheet" type="text/css" href="./estilos/star-rating-svg.css">
</header>

<body>

  <div class="regresar">
      <form name="regresar" action="">
        <input type="button" value="Regresar" name="regresa" onclick="goBack()">
      </form>
  </div>

  <div class="infoLugar">
    <!-- BEGIN NLugar -->
    <h1>{NOMBRE_LUGAR}</h1>
    <p>Descripci&oacuten: {DESC}</p>
    <p>Categor&iacutea: {CATEGORIA}</p>

    <div id="map"></div>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var uluru = {lat: {LATITUD}, lng: {LONGITUD}};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 18, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
      }//fin funcion
    </script>
    <br>
    <div class="rating" id="rating">
      <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
      <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
      <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
      <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
      <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
    </div>
    <br>
    <br>
    <br>
    <p>
      La calificacion de este lugar es: {CALIFICACION}
    </p>

    <br>

    <form name="botonPost" action="./mandarPost.php?idP={IDP}&idL={IDL}&nomL={NOMBRE_LUGAR}&nom={NOMBRE_USR}" method="post">
      <input type="text" name="comentario" placeholder="Comentario">
      <input type="submit" name="enter" value="Post">
    </form>

    <form name="botonInv" action="mandarInv.php?idP={IDP}&idLugar={IDL}&nomL={NOMBRE_LUGAR}" method="post">
      <!-- END NLugar -->
      <input type="search" name="Personas" list="Persona" placeholder="Busca una persona">
      <datalist id="Persona">
        <!-- BEGIN NUsuario -->
        <option value="{NOMBRE_USR}">{NOMBRE} {APELLIDO}</option>
        <!-- END NUsuario -->
      </datalist>
      <input type="submit" name="enterI" value="Invitar">
    </form>

  </div>

  <br>

  <div class="posts">
    <h3>
      POSTS
    </h3>
    <!-- BEGIN NPosts -->
    <div class="post">
      <p>{FECHA}</p>
      <p>{COMENTARIO}</p>
      <p>Lugar: {LUGAR_NOMBRE}</p>
      <p>Descripci&oacuten: {LUGAR_DESCRIPCION}</p>
    </div><br>
    <!-- END NPosts -->
  </div>

</body>
