
<head>
  <link rel="stylesheet" href="./estilos/perfil.css">
</head>
<body>

  <div class="regresar">
      <form name="regresar" action="">
        <input type="button" value="Regresar" name="regresa" onclick="goBack()">
      </form>
  </div>

  <div class="infoUsuario">
    <!-- BEGIN NUsuario -->
    <div class="editarUsuario">
      <form name="editarNombreUsr" action="editarUsuario.php?id={ID}&nom={NOMBRE_USR}&idP={IDP}" method="post">
        Nombre de usuario: <input type="text" name="nombreUsr" value="{NOMBRE_USR}">
        <input type="submit" name="enterNombreUsr" value="Enter">
      </form>
      <form name="editarNombre" action="editarUsuario.php?id={ID}&nom={NOMBRE_USR}&idP={IDP" method="post">
        Nombre: <input type="text" name="nombre" value="{NOMBRE}">
        <input type="submit" name="enterNombre" value="Enter">
      </form>
      <form name="editarApellido" action="editarUsuario.php?id={ID}&nom={NOMBRE_USR}&idP={IDP" method="post">
        Apellido: <input type="text" name="apellido" value="{APELLIDO}">
        <input type="submit" name="enterApellido" value="Enter">
      </form>
      <form name="editarEmail" action="editarUsuario.php?id={ID}&nom={NOMBRE_USR}&idP={IDP" method="post">
        Email: <input type="text" name="email" value="{EMAIL}">
        <input type="submit" name="enterEmail" value="Enter">
      </form>
      <form name="editarFechaN" action="editarUsuario.php?id={ID}&nom={NOMBRE_USR}&idP={IDP" method="post">
        Fecha de nacimiento: <input type="date" name="fechaN" value="{FECHAN}">
        <input type="submit" name="enterFechaN" value="Enter">
      </form>
      <form name="editarFoto" action="" method="post">

      </form>
    </div>
    <!-- END NUsuario -->
  </div>
  <br>

  <div class="postsAdmin">
    <h3>
      POSTS
    </h3>
    <!-- BEGIN NPosts -->
    <div class="post">
      <p>{FECHA}</p>
      <p>{COMENTARIO}</p>
      <p>Lugar: <a id="Link_lugar" href="url">{LUGAR_NOMBRE}</a></p>
      <p>Descripci&oacuten: {LUGAR_DESCRIPCION}</p>
    </div><br>
    <!-- END NPosts -->

  </div>
  <div class="historial">
    <h3>HISTORIAL</h3>
    <!-- BEGIN NHistorial -->
    <div class="historia">
      <p>"{BUSQUEDA}" | {FECHA}
    </div>
    <!-- END NHistorial -->
  </div>


</body>
