<html>
<head>
  <link rel="stylesheet" href="./estilos/registrarse.css">
  <script type="text/javascript" src="./js/registrar.js"></script>
</head>
<body>
    <form name="registro" action="registro.php" method="post" id="registro">
      <table align="center">
        <tr>
          <th colspan="4" rowspan="1">
            <img src="./estilos/imagen.jpg">
          </th>
        </tr>
        <tr>
          <th>
            Nombre:
          </th>
          <th>
            <input type="text" name="NuevoNmbr" id="nombre">
          </th>
        </tr>
        <tr>
          <th>
            Apellidos:
          </th>
          <th>
            <input type="text" name="NuevoApe" id="apellido">
          </th>
        </tr>
        <tr>
          <th rowspan="4">
          Seleccione su g&eacutenero:
        </tr>
        <tr class="opciones">
          <th>
            <input type="radio" name="genero" value="Hombre"> Hombre
          </th>
        </tr>
        <tr class="opciones">
          <th>
            <input type="radio" name="genero" value="Mujer"> Mujer
          </th>
        </tr>
        <tr class="opciones">
          <th>
            <input type="radio" name="genero" value="Otro"> Otro
          </th>
        </tr>
        <tr>
          <th>
            Fecha de Nacimiento:
          </th>
          <th>
            <input type="date" name="FN">
          </th>
        </tr>
        <tr>
          <th>
            Correo:
          </th>
          <th>
           <input type="text" name="NuevoCorreo">
         </th>
        </tr>
        <tr>
          <th>
            Usuario:
          </th>
          <th>
          <input type="text" name="NuevoUsr" id="usuario">
        </th>
        </tr>
        <tr id="pass">
          <th>
          </th>
          <th id="message">
          </th>
        </tr>
        <tr id="pass">
          <th>
        Contrase&ntilde;a:
        </th>
        <th>
          <input type="password" name="passwrd1" id="password">
          </th>
        </tr>
        <tr id="pass">
          <th>
        Confirmacion contrase&ntilde;a:
        </th>
        <th>
          <input type="password" name="passwrd2" id="confirm_password">
          </th>
        </tr>
        <tr>
          <th>
          </th>
          <th>
            <input type="submit" value="Registrarse" name="Registrarse" id="Registrarse">
          </th>
        </tr>
      </table>
    </form>
</body>
</html>
